<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>GridWal</title>
    <meta name="viewport" content="width:device-width, initial-scale=1" />
    <link href="GridWal.css" type="text/css" rel="stylesheet" media="all" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

     <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">

     </script>
    <style type="text/css">
        .padd {
            padding: 10px;
            padding: 20 100 20 100px;
        }

        .deep {
            background-color: #7F64A9;
        }

        body {
            padding: 80px;
            background: linear-gradient(to left, blue 10%, black 100%);
            margin: 0;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-picture"></i> GridWal</a>
            </div>
            <ul class="nav navbar-nav">
                <li class=""><a href="">Home</a></li>
            </ul>
            <form class="form-inline padd" action="/results" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search"
                    size="80">
                <button class="btn btn-outline-success my-2 my-sm-0 " type="submit"
                    formaction="/results">Search</button>
            </form>

        </div>
    </nav>


    <div class="flexbin flexbin-margin">
        <a href="">
            	<div class="thumbnail">
            <a href="https://pixabay.com/get/54e3dd475753ae01f7c5d57cc429327d1338daf85254774d762f7fd59345_1280.jpg">
                <img src="http://i.imgur.com/qK42fUu.jpg"></a></div>

               <div class="thumbnail">
            <a href="https://pixabay.com/get/50e8d0404a51b108f5d084609629347f103cd8e2574c704c732b78d4944acd5c_1280.jpg">
                <img src="https://images.unsplash.com/photo-1435771112039-1e5b2bcad966?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
                </div>
               
                <div class="thumbnail">
           
                <a href="https://pixabay.com/get/57e7d0424e57a914f6da8c7dda79367d143adde354556c4870297fd7974ec250bc_1280.jpg">
                <img
                    src="https://images.unsplash.com/photo-1439524970634-649c37a69e5c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1450&h=825&fit=crop&s=bfda9916c885869b43b70738693428d9"></a>
            </div>
              <div class="thumbnail"> 

            <a
                href="https://pixabay.com/get/57e2d6454f5aad14f6da8c7dda79367d143adde354556c4870297fd7974ec250bc_1280.jpg">
                <img
                    src="https://images.unsplash.com/photo-1439524970634-649c37a69e5c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1450&h=825&fit=crop&s=bfda9916c885869b43b70738693428d9"></a>
                     </div>
            <a
                href="https://pixabay.com/get/54e2d54b4351ad14f6da8c7dda79367d143adde354556c4870297fd7974ec250bc_1280.jpg">
                <img
                    src="https://images.unsplash.com/photo-1444090542259-0af8fa96557e?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
            <a
                href="https://pixabay.com/get/57e9d4404f57a514f6da8c7dda79367d143adde354556c4870297fd7974ec250bc_1280.jpg">
                <img
                    src="https://images.unsplash.com/photo-1436262513933-a0b06755c784?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
            <a href="https://pixabay.com/get/5fe1dd4a435bb108f5d084609629347f103cd8e2574c704c732b78d4944acd5c_1280.jpg">
                <img
                    src="https://images.unsplash.com/photo-1434543177303-ef2cc7707e0d?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
            <a
                href="https://pixabay.com/get/57e8d344485aa914f6da8c7dda79367d143adde354556c4870297fd7974ec250bc_1280.jpg">
                <img src="https://images.unsplash.com/photo-1439396087961-98bc12c21176?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
            <a href="https://pixabay.com/get/54e3dd475753ae01f7c5d57cc429327d1338daf85254774d762f7fd59345_1280.jpg">
                <img
                    src="https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
            <a href="https://pixabay.com/get/50e8d0404a51b108f5d084609629347f103cd8e2574c704c732b78d4944acd5c_1280.jpg">
                <img src="IMAGE/bora-bora-50e8d0404a_1280.jpg"></a>
            <a
                href="https://pixabay.com/get/57e7d0424e57a914f6da8c7dda79367d143adde354556c4870297fd7974ec250bc_1280.jpg">
                <img src="IMAGE/california-57e7d0424e_1280.jpg"></a>
            <a
                href="https://pixabay.com/get/57e2d6454f5aad14f6da8c7dda79367d143adde354556c4870297fd7974ec250bc_1280.jpg">
                <img src="IMAGE/GridWal1.jpg"></a>
            <a
                href="https://pixabay.com/get/54e2d54b4351ad14f6da8c7dda79367d143adde354556c4870297fd7974ec250bc_1280.jpg">
                <img
                    src="https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
            <a
                href="https://pixabay.com/get/57e9d4404f57a514f6da8c7dda79367d143adde354556c4870297fd7974ec250bc_1280.jpg">
                <img
                    src="https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
            <a href="https://pixabay.com/get/5fe1dd4a435bb108f5d084609629347f103cd8e2574c704c732b78d4944acd5c_1280.jpg">
                <img
                    src="https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
            <a
                href="https://pixabay.com/get/57e8d344485aa914f6da8c7dda79367d143adde354556c4870297fd7974ec250bc_1280.jpg">
                <img
                    src="https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>

    </div>
</body>

</html>
